<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search and Watch</title>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,400italic,600,300italic,300|Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="{{=URL('static/template','css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{=URL('static/template','css/font-awesome.min.css')}}" rel="stylesheet">


    <link href="{{=URL('static/template','css/owl.carousel.css')}}" rel="stylesheet">
    <link href="{{=URL('static/template','css/owl.theme.css')}}" rel="stylesheet">
    <link href="{{=URL('static/template','css/owl.transitions.css')}}" rel="stylesheet">

    <link href="{{=URL('static/template','css/style.css')}}" rel="stylesheet">

  </head>
  <body data-spy="scroll" data-target=".main-nav">

    <section class="home" id="home" data-stellar-background-ratio="0.4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="st-home-unit">
              <div class="hero-txt">
                <p class="hero-work">Ayşe DİLEK</p>
                <h2 class="hero-title">Search and Watch</h2>
               <section class="blog" id="blog">
      <div class="container">
          <div class="col-md-12">
            <div class="widgets">
              <div class="widget">
                <form action="{{=URL('default', 'search', args=1)}}" class="form-group" method='GET'>
                  <div class="input-group" style="padding-bottom: 250px;">
                    <input name=searchQuery type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-lg" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </form>
              </div>
         
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    
